/* EXERCICE 1 */
.carre {
    width  : 200px;
    height : 200px;
    background : green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* EXERCICE 2 */
.carres {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    position: relative;
}

.carres div,
.carre_dynamique div {
    width  : 200px;
    height : 200px;
}

.carre1 {
    background: green;
}

.carre2 {
    background: yellow;  
}

.carre3 {
    background: red;  
}

.carre4 {
    background: blue;  
}

.carre5 {
    border: 5px solid black;
    position: absolute;
    right: 45%;
    top: 50%;
    background-color: white;
}

/* EXERCICE 3 */
.all-carre {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    color: white;
}

.all-carre div {
    display: grid;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: #008000;
    border: 3px solid black;
    text-align :center;
}

/* EXERCICE 4 */

.main {
    background-color: rgb(128, 128, 128);
    padding: 50px;
}

.liens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    text-align: center;
}

.lien p {
    display: none;
    font-size: 20px;   
}

.lien.active p {
    display: block;
    font-size: 20px;   
    padding: 0;
}

.lien.active {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px;
}

.lien {
    font-size: 3em;
    padding: 50px;
    text-align: center;
    width: 100px;
}

.facebook {
    background-color: rgb(0, 0, 255);
}

.twitter {
    background-color: aqua;
}

.instagram {
    background-color: red;
}