/* EXERCICE 1 */
.carre {
    width  : 200px;
    height : 200px;
    background : green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* EXERCICE 2 */
.carres {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    position: relative;
}

.carres div,
.carre_dynamique div {
    width  : 200px;
    height : 200px;
}

.carre1 {
    background: green;
}

.carre2 {
    background: yellow;  
}

.carre3 {
    background: red;  
}

.carre4 {
    background: blue;  
}

.carre5 {
    border: 5px solid black;
    position: absolute;
    right: 45%;
    top: 50%;
    background-color: white;
}

/* EXERCICE 3 */
.all-carre {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    color: white;
}

.all-carre div {
    display: grid;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: #008000;
    border: 3px solid black;
    text-align :center;
}

